/roles/dot/files/.vim/autoload
/roles/dot/files/.vim/plug

/tmp/brew

/roles/linux/files/.config/*
!roles/linux/files/.config/ncmpcpp
!roles/linux/files/.config/sway
!roles/linux/files/.config/ranger
!roles/linux/files/.config/mako
!roles/linux/files/.config/dunst

roles/linux/files/.local/*
!roles/linux/files/.local/bin/dwm-*

roles/dot/files/.ssh/*
!roles/dot/files/.ssh/config

.vscode
