* {
  border: none;
  border-radius: 0;

  font-family: 'Dank Mono', Roboto, Verdana;
  font-size: 13px;

  min-height: 20px;
}

window#waybar {
  background: rgba(45, 51, 63, 0.70);
}

#workspaces {
  margin: 5px;
  padding: auto;

  border: none;
  border-radius: 0;

  background: transparent;
}

#workspaces button {
  margin: auto 5px;
  padding: auto 5px;

  border: 1px solid rgba(130, 160, 193, 1.00);
  border-radius: 0;

  box-shadow: 3px 3px 3px 0 rgba(130, 160, 193, 0.70);

  background: none;
  color: rgba(230, 233, 237, 1.00);
}

#workspaces button.focused {
  border: 1px solid rgba(180, 140, 173, 1.00);
  border-radius: 0;

  box-shadow: 3px 3px 3px 0 rgba(180, 140, 173, 0.70);

  background: none;
  color: rgba(230, 233, 237, 1.00);
}

#network, #battery, #clock {
  margin: auto 5px;
  padding: auto 5px;
}

#network {
  border: 1px solid rgba(130, 160, 193, 1.00);
  border-radius: 0;

  box-shadow: 3px 3px 3px 0 rgba(130, 160, 193, 0.70);

  background: none;
  color: rgba(230, 233, 237, 1.00);
}

#battery {
  border: 1px solid rgba(130, 160, 193, 1.00);
  border-radius: 0;

  box-shadow: 3px 3px 3px 0 rgba(130, 160, 193, 0.70);

  background: none;
  color: rgba(230, 233, 237, 1.00);
}

#battery.warning {
  color: rgba(230, 233, 237, 1.00);
}

#battery.critical {
  color: rgba(230, 233, 237, 1.00);
}

#clock {
  border: 1px solid rgba(130, 160, 193, 1.00);
  border-radius: 0;

  box-shadow: 3px 3px 3px 0 rgba(130, 160, 193, 0.70);

  background: none;
  color: rgba(230, 233, 237, 1.00);
}
